section.about {
  padding-bottom: $vertical-spacing-xl;

  .columns-container {
    @media only screen and (max-width: 767px) {
      flex-direction: column-reverse;

      .right {
        margin-bottom: $vertical-spacing-sm;
      }

      .left {
        margin-bottom: 0;
      }
    }

    .left {
      p {
        color: $color-font-secondary;
        font-size: $font-size-xs;
        line-height: 1.7;

        &:first-of-type {
          margin-bottom: $vertical-spacing-xs;
        }
      }

      @media only screen and (min-width: 768px) and (max-width: 999px) {
        padding-right: 1rem;
      }
    }

    .right {
      img {
        max-width: 375px;
        width: 90%;
        border-radius: 50%;
        display: block;
        margin: auto;

        @media only screen and (max-width: 999px) {
          max-width: 325px;
        }
      }
    }
  }
}

@media only screen and (max-width: 475px) {
  section.about {
    padding-bottom: $vertical-spacing-md;
  }
}
