footer.contact {
  padding-bottom: $vertical-spacing-xl;

  .center-container {
    text-align: center;
    max-width: 700px;
    margin: auto;
    position: relative;
  }

  svg.svg-outline {
    position: absolute;
    left: 50%;
    top: -29px;
    transform: translateX(-50%);
    stroke: $color-green-primary;
    stroke-width: 4;
  }

  h2 {
    color: $color-font-primary;
    margin-bottom: $vertical-spacing-sm;
    font-weight: 700;
  }

  p {
    color: $color-font-secondary;
    font-size: $font-size-xs;
    line-height: 1.7;
  }

  .icon-container {
    margin-top: $vertical-spacing-xs;

    a {
      text-decoration: none;
    }

    svg {
      max-width: 40px;
      margin-left: 0.75rem;
      margin-right: 0.75rem;
      margin-bottom: 0.75rem;

      @media only screen and (max-width: 399px) {
        max-width: 32px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 475px) {
  footer.contact {
    padding-bottom: $vertical-spacing-md;
  }
}
